// You can add normalize.css before this stylesheet. 
// It will removes any discrepancies among the browsers.
// http://necolas.github.io/normalize.css/

// To embed the selected fonts into a webpage, copy this code into the <head> of your HTML document.
// <link href="https://fonts.googleapis.com/css?family=Sahitya|Source+Sans+Pro&display=swap" rel="stylesheet">

$text-color: hsl(120, 10%, 10%);

:root {
    box-sizing: border-box;
    color: $text-color;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;

    * + * {
        margin-top: 1.5em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sahitya', serif;
}

img {
    max-width: 100%;
}

// Add any style that you to apply globally to elements.
// Don't add any selector with IDs or class here.